<md-card>
  <md-toolbar color="primary">{{title}}</md-toolbar>
  <md-card-content>
    <form novalidate>
      <table>
        <tr>
          <td>
            <md-input type="text" name="email" placeholder="Your email address" [(ngModel)]="model.email"
                      #email="ngModel" required=""></md-input>
            <md-input type="password" name="password" placeholder="Your password" [(ngModel)]="model.password"
                      #password="ngModel" required=""></md-input>
          </td>
        </tr>
        <tr *ngIf="newUser">
          <td>
            <md-input *ngIf="newUser" type="text" name="firstName" placeholder="Your first name" [(ngModel)]="model.firstName"
                      #email="ngModel" required=""></md-input>
            <md-input *ngIf="newUser" type="txt" name="lastName" placeholder="Your last name" [(ngModel)]="model.lastName"
                      #password="ngModel" required=""></md-input>
          </td>
        </tr>
      </table>
      <div class="form-group">
        <button *ngIf="!newUser" md-raised-button [disabled]="loading" (click)="login()">Login</button>
        <button *ngIf="!newUser" md-raised-button (click)="showRegister()">New user</button>
        <button *ngIf="newUser" md-raised-button [disabled]="loading" (click)="register()">Register user</button>
      </div>
    </form>
    <div class="error">{{error}}</div>
  </md-card-content>
</md-card>
